body, html {
    margin: 0;
    padding: 0;
}

#wrapperContainer{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: auto;
        margin: 0;
    }

#styleComponent {
        background-color: #162DBF;
        padding: 20px 10px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border-radius: 6px;
        color: white;
        border: 2px solid white;
        text-align: center;
        font-family: "Popins", sans-serif;
        transition: transform 0.3s ease,background 0.3s ease;
    }

#styleComponent:hover {
    transform: scale(1.2);
    background: linear-gradient(135deg, #3a7bd5, #00d2ff);
}


#mainTaskContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; 
    margin: 0 auto;
    background-color: #162DBF;
    padding: 20px;
    border-radius: 6px;
}


#tasksBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}



/* From Uiverse.io by adamgiebl */ 
.card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  gap: 3px;
  width: 190px;
  min-height: 25px;
  padding: 25px 10px;
  background: lightgrey;
  box-shadow: #d11bff42 0 15px 40px -5px;
  z-index: 1;
  border-radius: 21px;
  overflow: hidden;
}

.card__content {
  background: linear-gradient(rgba(255, 255, 255, 0.473), rgba(150, 150, 150, 0.25));
  z-index: 1;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 21px;
  text-align: center;
}

.card .blob {
  position: absolute;
  z-index: -1;
  border-radius: 5em;
  width: 200px;
  height: 200px;
}

.card .blob:nth-child(2) {
  left: -50px;
  top: -90px;
  background: #ff930f;
}

.card .blob:nth-child(3) {
  left: 110px;
  top: -20px;
  z-index: -1;
  background: #bf0fff;
}

.card .blob:nth-child(4) {
  left: -40px;
  top: 100px;
  background: #ff1b6b;
}

.card .blob:nth-child(5) {
  left: 100px;
  top: 180px;
  background: #0061ff;
}